:root {
  --main-color: linear-gradient(90deg, #827ed4, #6554eb);
  --secondary-color: #6554eb;
}

* {
  margin: 0px;
}

body {
  background: var(--main-color);
  padding: 20px;
}

.container {
  display: flex;
}

.left-area {
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-area,
.actions-area {
  width: 300px;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f3f3f3;
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  color: var(--secondary-color);
}
#login-text,
#actions-text {
  margin-top: 20px;
}

#api-key {
  width: 240px;
  height: 25px;

  border-radius: 22px;
  border: 2px solid var(--secondary-color);

  margin-top: 20px;

  text-align: center;
  color: #776bcc;
  outline-color: #bab1ff;
}

#login-button,
#myLists-button,
#validate-button,
#createList-button {
  width: 120px;
  height: 30px;
  background-color: var(--secondary-color);
  border-radius: 22px;
  border: none;

  margin-top: 20px;

  text-align: center;
  color: #f3f3f3;
}

#login-button:disabled {
  opacity: 0.3;
}
#login-button:hover,
#myLists-button:hover,
#validate-button:hover,
#createList-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#search-container {
  margin: 10px 0px 0px 100px;
}

#search {
  width: 240px;
  height: 25px;

  border-radius: 22px;
  border: 2px solid var(--secondary-color);

  text-align: center;
  color: #776bcc;
  outline-color: #bab1ff;
}

#search-button {
  width: 100px;
  height: 30px;

  margin-left: 10px;
  background-color: #6654eb86;
  border-radius: 22px;
  border: 1px solid white;

  text-align: center;
  color: #f3f3f3;
}

#search-button:hover,
#criarListaContainer-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

#lista {
  list-style: none;
  margin-top: 20px;
  padding: 5px;
}

#lista li {
  height: 36px;
  width: 800px;
  font-size: 20px;
  color: #f3f3f3;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#lista li button {
  margin-left: 30px;
}

.list-container {
  margin-left: 100px;
}

#criarListaContainer {
  margin-top: 40px;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

#criarListaContainer-title {
  color: white;
  text-align: center;
  margin-bottom: 14px;
}

#criarListaContainer-inputName {
  height: 24px;
  margin-bottom: 14px;
  border-radius: 22px;
  border: 2px solid var(--secondary-color);

  text-align: center;
  color: #776bcc;
  outline-color: #bab1ff;
}

#criarListaContainer-inputDescription {
  height: 80px;
  margin-bottom: 14px;
  border-radius: 22px;
  border: 2px solid var(--secondary-color);

  text-align: center;
  color: #776bcc;
  outline-color: #bab1ff;
}

#criarListaContainer-button {
  width: 100px;
  height: 30px;
  margin-left: 75px;
  background-color: #6654eb86;
  border-radius: 22px;
  border: 1px solid white;

  text-align: center;
  color: #f3f3f3;
}

#menu-div {
  display: flex;
  flex-direction: row;
  width: 200px;
  float: right;
}
